html
{
    font-family: monospace;
    color: white;
    font-size: 1.75vh;
}

header
{
    padding-bottom: 1vh;
}

body
{
    padding-left: 5vh;
    padding-right: 5vh;
    padding-top: 1em;

    background-color: rgb(37, 43, 68)   /* rgb(30, 30, 30) */
}

h1
{
    font-size: 5vh;
}

a
{
    color: white;
    text-decoration: none;
}

a:active
{
    color: grey;
}

hr
{
    border-top: 1px dashed white;
    border-bottom: 0px;
}

.blogDiv
{
    border-left: 3px solid grey;

    padding-left: 1em;
    padding-right: 1em;
}

.blogDate
{
    color: grey;
    font-style: italic;
}

.blogTag
{
    color: black;

    display: inline-block;
    border: 2px solid black;
    border-radius: 0.5em;
    
    padding-left: 0.5em;
    padding-right: 0.5em;
}

footer
{
    color: grey;
}