::-webkit-scrollbar {
    display: none;
}

::selection {
    background-color: #543a48;
}

@font-face {
    font-family: 'Inter';
    src: url("./fonts/Inter-VariableFont.ttf") format("truetype-variations");
    font-weight: 1 999;
}

@keyframes accentAnimation {
    0% {transform: rotate(10deg);}
    50% {transform: rotate(-10deg);}
    100% {transform: rotate(10deg);}
}

/* CSS reset */
html,body,blockquote,code,h1,h2,h3,h4,h5,h6,p,pre{margin:0;padding:0}
button,fieldset,form,input,legend,textarea,select{margin:0;padding:0}
fieldset{border:0}
a,a *{cursor:pointer}
div{margin:0;padding:0;background-color:transparent;text-align:left}
hr,img{border:0}
applet,iframe,object{border:0;margin:0;padding:0}
button,input[type=button],input[type=image],input[type=reset],input[type=submit],label{cursor:pointer;}
ul,li{list-style:none;margin:0;padding:0;}
strong{font-weight:bold;}
em{font-style:italic;} 

html {
    font-family: 'Inter';
    font-size: 1.2em;
    line-height: 1.6em;
    color: #d3c6aa;
    background-color: #2d353b;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 700;
    margin-top: 1em;
    margin-bottom: 1em;
}

h1 {
    font-size: 1.5em;
    color: #e69875;
}

h2 {
    font-size: 1.25em;
    color: #dbbc7f;
}

h3 {
    font-size: 1em;
    color: #a7c080;
}

h4 {
    font-size: 1em;
    color: #7fbbb3;
}

h5 {
    font-size: 1em;
    color: #d699b6;
}

h6 {
    font-size: 1em;
    color: #d699b6;
}

p {
    font-size: 1em;
    font-weight: 400;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
}

hr {
    border: 1px solid #56635f;
    margin-top: 2em;
    margin-bottom: 2em;
}

ul,li {
    list-style: circle;
    margin-left: 1em;
}

a {
    display: inline-block;
    color: #d3c6aa;
    text-decoration-line: underline;
    transition: transform 0.1s ease-out, color 0.1s ease-out;
}

a:hover {
    transform: translateY(-2px);
}

nav a {
    text-decoration: none;
}

header {
    margin-bottom: 1em;
}

header h1 {
    margin-bottom: 0em;
}

footer {
    margin-top: 3em;
}

footer a {
    text-decoration: none;
}

.tab {
    display: inline-block;
    margin-left: 1em;
}

#websiteTitle {
    margin-bottom: 0.5em;
}

#websiteTitle a {
    font-size: 1.33em;
    color: #e67e80;
    text-decoration: none;
}

#websiteTitleAccent {
    user-select: none;
    display: inline-block;
    animation-name: accentAnimation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

#mainContentContainer {
    display: flex;
    justify-content: center;
}

#mainContent {
    width: max(35%, 500px);
    padding: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.subtle {
    font-size: 0.85em;
    color: #4f585e;
}

.slashDelimiter {
    user-select: none;
}

.articleImageContainer img {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1.5em;
    border-radius: 0.5em;
    box-shadow: 0.5em 0.5em 0.5em #232a2e;
}

.articleImageContainer p {
    text-align: center;
    margin-bottom: 1.5em;
}

#aboutMeProfilePicture {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 0.75em;
    border-radius: 100%;
    background-color: #232a2e;
}

@media only screen and (max-device-width: 500px)
{
    html {
        font-size: 1em;
    }

    #mainContent {
        width: 100%;
    }

    .articleImageContainer img {
        width: 100%;
        margin-left: 0%;
        margin-right: 0%;
    }

    #aboutMeProfilePicture {
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
    }
}
