/**
 * Convention https://github.com/necolas/idiomatic-css
 */

/* CSS reset */

html,body,blockquote,code,h1,h2,h3,h4,h5,h6,p,pre{margin:0;padding:0}
button,fieldset,form,input,legend,textarea,select{margin:0;padding:0}
fieldset{border:0}
a,a *{cursor:pointer}
div{margin:0;padding:0;background-color:transparent;text-align:left}
hr,img{border:0}
applet,iframe,object{border:0;margin:0;padding:0}
button,input[type=button],input[type=image],input[type=reset],input[type=submit],label{cursor:pointer;}
ul,li{list-style:none;margin:0;padding:0;}
strong{font-weight:bold;}
em{font-style:italic;} 

/* Overall */

::-webkit-scrollbar { display: none; }
::selection { background-color: #543a48; }

@font-face {
    font-family: 'Inter';
    src: url("./fonts/Inter-VariableFont.ttf") format("truetype-variations");
    font-weight: 1 999;
}

html {
    color: #d3c6aa;
    background-color: #2d353b;
    font-family: 'Inter';
    font-size: 1.2em;
    line-height: 1.6em;
}

/* HTML elements */

h1,
h2,
h3,
h4,
h5,
h6 {
    /* Display & box model */
    margin: 1em 0 1em 0;

    /* Text */
    font-size: 1em;
    font-weight: 700;
}

h1 {
    color: #e69875;
    font-size: 1.5em;
}

h2 {
    color: #dbbc7f;
    font-size: 1.25em;
}

h3 { color: #a7c080; }
h4 { color: #7fbbb3; }
h5 { color: #d699b6; }
h6 { color: #d699b6; }

p {
    /* Display & box model */
    margin: 0.67em 0 0.67em 0;

    /* Text */
    font-size: 1em;
    font-weight: 400;
}

hr {
    /* Display & box model */
    margin-top: 2em;
    margin-bottom: 2em;
    border: 1px solid #56635f;
}

ul,
li {
    /* Display & box model */
    margin-left: 1em;

    /* Other */
    list-style: circle;
}

a {
    /* Display & box model */
    display: inline-block;

    /* Text */
    color: #d3c6aa;
    text-decoration-line: underline;

    /* Animation */
    transition:
        transform 0.1s ease-out,
        color 0.1s ease-out;
}

a:hover { transform: translateY(-2px); }
nav a { text-decoration: none; }
header { margin-bottom: 1em; }
header h1 { margin-bottom: 0; }
footer { margin-top: 3em; }
footer a { text-decoration: none; }

/* Custom classes and ids */

#website-title { margin-bottom: 0.5em; }

#website-title a {
    font-size: 1.33em;
    color: #e67e80;
    text-decoration: none;
}

@keyframes accent-animation {
    0% {transform: rotate(10deg);}
    50% {transform: rotate(-10deg);}
    100% {transform: rotate(10deg);}
}

#website-title-accent {
    /* Display & box model */
    display: inline-block;

    /* Animation */
    animation-name: accent-animation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

#main-content-container {
    display: flex;
    justify-content: center;
}

#main-content {
    width: max(35%, 500px);
    padding: 1em 2em 1em 2em;
}

.subtle {
    color: #4f585e;
    font-size: 0.85em;
}

.no-user-selection { user-select: none; }
.short-margin-bottom { margin-bottom: 0.5em; }

.article-image-container img {
    /* Display & box model */
    width: 80%;
    margin: 1.5em 10% 0 10%;
    border-radius: 0.5em;

    /* Other */
    box-shadow: 0.5em 0.5em 0.5em #232a2e;
}

.article-image-container p {
    /* Display & box model */
    margin-bottom: 1.5em;

    /* Text */
    text-align: center;
}

@media only screen and (max-device-width: 500px) {
    html { font-size: 1em; }
    #main-content { width: 100%; }

    .article-image-container img {
        width: 100%;
        margin: 1.5em 0 0 0;
    }

    #about-me-profile-picture {
        width: 70%;
        margin: 0.75em 15% 0 15%;
    }
}
