<!DOCTYPE html>

<html lang="en">
    <div id="mainContentContainer">
        <div id="mainContent">
            <!-- STYLESHEET -->
            <head>
                <title>Chris Phu</title>
                <link rel="stylesheet" href="/stylesheet.css">
                <meta name="viewport" content="width=device-width, initial-scale=1">
            </head>

            <!-- TITLE -->
            <h1 id="websiteTitle"><a href="/index.html">Chris Phu <span id="websiteTitleAccent">🤔</span></a></h1>

            <!-- NAV -->
            <nav>
                <a href="/index.html">Home</a> <span class="slashDelimiter">&ensp;/&ensp;</span>
                <a href="/pages/misc/about-me/index.html">About me</a>
            </nav>

            <hr>

            <!-- HEADER -->
            <header>
                <h1>Header</h1>
            </header>

            <!-- BODY -->
            <body>
                <p>This is for introducing the article.</p>
                <h2>Topic</h2>
                <p>This is for a specific topic in the article.</p>
            </body>

            <!-- FOOTER -->
            <footer>
                <p class="subtle">Copyright &copy; <script>document.write(new Date().getFullYear());</script> Chris Phu. All Rights Reserved.</p>
            </footer>
        </div>
    </div>
</html>